*
*::before
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #D6EDDC;
  background-image: url('31.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*min-height: 500px;*/
  color: black;
  font-size: 3.5vh;
}

/* navigation ------------*/

.title{
  font-family: "Fugaz One", sans-serif;
  letter-spacing: 1.3ch;
  font-size: 10vh;
}

a{
  color: black;
}

.jf{
  text-decoration: none;
}

.navbar{
  line-height: 2.2ch;
}

ul{
  list-style: none;
}

ul li{
  margin-bottom: 2%;
}

ul li a:hover{
  opacity: 50%;
}

.plays{
  visibility: hidden;
  position: absolute;
}

.plays a{
  visibility: hidden;
  text-decoration: none;
  color: rgba(229, 75, 75, 0.43);
  position: absolute;
  z-index: 999;
}

.title:hover .plays{
  visibility: visible;
}

.title:hover .plays a{
  visibility: visible;
  cursor: cell;
}
.title:hover .music-title {
  opacity: 0;
}

/* body content ------------*/

.hello{
  position: fixed;
  font-family: "Montserrat",sans-serif;
  font-size: 2vh;
  text-align: left;
  margin: 30% 10% 0 0;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.box{
    text-align: center;
}

/*mobile*/
.one{
  margin-top: 3%;
  display: none;
 }
/*mobile end*/


.text{
  text-align: center;
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  padding: 5%;
}

h2 a{
  text-decoration: none;
}

h2 a:hover{
  cursor: cell;
}

h2{
font-style: italic;
font-weight: 400;
letter-spacing: 0.1em;
}

p{
  line-height: 4ch;
}

/*
.shape{
border:2px solid #e54b4b;    
height:fit-content;
border-radius:0%;

-moz-border-radius:50%;
-webkit-border-radius:50%;
width:100%;
margin-bottom: 5%;
}*/

.mobile-only{
  visibility: hidden;
  text-align: center;
  font-size: 3vh;
  font-family: "Montserrat",sans-serif;
}

/*img / spin content ----------*/

.star{
  -moz-animation: spinHorizontal 8s infinite linear;
  -o-animation: spinHorizontal 8s infinite linear;    
  -webkit-animation: spinHorizontal 8s infinite linear;
  animation: spinHorizontal 8s infinite linear;
}

@keyframes spinHorizontal {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

/* bottom content ---------*/

footer{
 text-align: center;
 margin-top: 3%;
}

footer a:hover{
  color:#e54b4b;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: cell;
  padding: 1%;
}

/* media query ----------*/

@media screen and (max-width:1024px)and (min-width:200px){

  body{
    cursor: cell;
    margin: 0 auto;
   background-color:#ebbde3 !important;
    background-image: none;
  }

  .hello{
    display: none;
  }
  .box{
    flex: 50%;
  }
  .title {
    margin:3%;
    text-align: center;
    z-index: -999;
    opacity: 15%;
    font-size: 10vw;
  }

  ul li{
    padding-top: 5%;
  }

  .one{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .two{
    display: none;
  }

  .mobile-only{
    visibility: visible;
    text-rendering: optimizeLegibility;
  }

#myBtn{
  display: none !important;
}

.one{
 text-align: center;
}
  
  /* AUDIO STYLING-----------*/
 
audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
audio {
  width: 90%;
}
audio::-webkit-media-controls-enclosure {
  min-width: 50%;
}
audio::-webkit-media-controls-panel {
  background-color: transparent
}
audio::-webkit-media-controls-play-button {
  -webkit-appearance: radio;
}

}

@media screen and (max-width:900px)and (min-width:200px){
  footer{
    margin: 5% 0 3% 0;
  }
   .mobile-only{
    font-size: 2.5vh;
  }
}
