*, 
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color:#141414;
  scroll-behavior: smooth;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 2% 3% 5% 3%;
  font-family: 'LabilGroteskTrial-Medium';
  }
  
  .nav ul li{
    display: inline-flex;
  }
  
  header a{
    color: hotpink;
    text-decoration: none;
  }

  header a:active{
    text-decoration: line-through;
  }
  
  a:hover{
    opacity: 55%;
    text-decoration: line-through;
  }

.wrapper::-webkit-scrollbar {
  display: none;
}

.page-wrap{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.box{
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-snap-align: start;
  flex-basis: 80%;
  max-height: 100vh;
  margin-bottom: 14%;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

.one,.two, .three{
-ms-scroll-snap-type: y proximity;
  scroll-snap-type: y proximity;
}

h2{
  font-family: 'Sentinel';
  text-align: center;
  padding-bottom: 5%;
  color: rosybrown;
  text-transform: uppercase;
}

h4,.copy {
  font-family: 'Sentinel';
  letter-spacing: .15em;
  text-align:center;
  padding-top: 1vh;
}

h4 a{
  color: royalblue;
  text-decoration: none;
}
